.Rproj.user
.Rhistory
.RData
.Ruserdata
Analyses/
# Raw Data
*.csv
*.txt
*.xlsx
*.dat
# ASReml Output Files (The results from your loops)
*.asr
*.sln
*.yht
*.aou
*.res
*.vco
*.pin
*.rsv
*.ask
*.msv
*.tmp
*.tsv
*.veo
*.vvp
*.xml
fort.*
